header{
    background-color: #939591;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.caixa h1{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}
